.form
  .background--image
    img(ng-hide="ctrl.userBackgroundImage", ng-src="{{ctrl.backgroundImage}}")
    img.background-dark(ng-show="ctrl.userBackgroundImage", flow-img="ctrl.userBackgroundImage")

  .outer
    .middle.text-center
      .inner
        form(novalidate=true, name="uvpForm", ng-hide="ctrl.showUVP")
          button.button(flow-btn, flow-attrs="{accept:'image/*'}") Change background
          .row
            .small-2.columns
              label.right.inline(for="customer") For
            .small-10.columns
              input#customer(type="text", placeholder="target consumer", ng-model="ctrl.method.customer", required=true)
          .row
            .small-2.columns
              label.right.inline(for="need") who
            .small-10.columns
              input#need(type="text", placeholder="statement of need or opportunity", ng-model="ctrl.method.need", required=true)
          .row
            .small-2.columns
              label.right.inline(for="product") our
            .small-10.columns
              input#product(type="text", placeholder="product/service name", ng-model="ctrl.method.product", required=true)
          .row
            .small-2.columns
              label.right.inline(for="category") is
            .small-10.columns
              input#category(type="text", placeholder="(a/an) product category", ng-model="ctrl.method.category", required=true)
          .row
            .small-2.columns
              label.right.inline(for="benefit") that
            .small-10.columns
              input#benefit(type="text", placeholder="statement of benefit", ng-model="ctrl.method.benefit", required=true)
          .row
            a._tooltip(title="{{ctrl.method.example}}") Example
            br
            button.button(ng-disabled="!uvpForm.$valid", ng-click="ctrl.display()") Go
            button.button(ui-sref="SteveBlanks") Next
        .row(ng-show="ctrl.showUVP")
          h1 {{ctrl.method.template()}}
          button.button(ng-click="ctrl.back()") Back
          button.button(ui-sref="SteveBlanks") Next
.footer #1 Geoff Moore's Value Positioning Statement
