form(novalidate=true, name="uvpForm", ng-hide="ctrl.showUVP")
  .row
    .small-12.columns
      input(type="text", placeholder="{{ 'davidCowans.placeholder1' | i18n }}", ng-model="ctrl.method.problem", required=true)
  .row
    .small-12.columns
      input(type="text", placeholder="{{ 'davidCowans.placeholder2' | i18n }}", ng-model="ctrl.method.product", required=true)
  .row
    .small-12.columns
      input(type="text", placeholder="{{ 'davidCowans.placeholder3' | i18n }}", ng-model="ctrl.method.differentiation", required=true)
  .row
    .small-12.columns
      textarea(placeholder="{{ 'davidCowans.placeholder4' | i18n }}", ng-model="ctrl.method.pedigree", required=true)
  .row
    a._tooltip(title="{{ctrl.method.example}}")
      span(title="") {{ 'common.example' | i18n }}
    br
    button.button(ng-disabled="!uvpForm.$valid", ng-click="ctrl.display()") {{ 'common.build' | i18n }}
.row(ng-show="ctrl.showUVP")
  h1 {{ctrl.method.template()}}
  br
  i.fa.fa-chevron-left.fa-2x(ng-click="ctrl.back()")
    .icon-subtitle {{ 'common.back' | i18n }}
  = ' '
  i.fa.fa-chevron-right.fa-2x(ui-sref="EricSinksSuperlative")
    .icon-subtitle {{ 'common.next' | i18n }}
.footer #6 David Cowan's Pitchcraft
