form(novalidate=true, name="uvpForm", ng-hide="ctrl.showUVP")
  .row
    .small-12.columns
      input(type="text", placeholder="Highlight the enormity of the problem you are tackling", ng-model="ctrl.method.problem", required=true)
  .row
    .small-12.columns
      input(type="text", placeholder="Tell the audience up front what your company sells", ng-model="ctrl.method.product", required=true)
  .row
    .small-12.columns
      input(type="text", placeholder="Distill the differentiation down to one, easy-to-comprehend sentence", ng-model="ctrl.method.differentiation", required=true)
  .row
    .small-12.columns
      textarea(placeholder="Establish credibility by sharing the pedigree of the entrepreneurs, customers, or the investors", ng-model="ctrl.method.pedigree", required=true)
  .row
    a._tooltip(title="{{ctrl.method.example}}") Example
    br
    button.button(ng-disabled="!uvpForm.$valid", ng-click="ctrl.display()") Watch
.row(ng-show="ctrl.showUVP")
  h1 {{ctrl.method.template()}}
  button.button(ng-click="ctrl.back()") Back
  .row
    i.fa.fa-arrow-right.fa-3x(ui-sref="EricSinksSuperlative")
      .icon-subtitle Next
.footer #6 David Cowan's Pitchcraft
