form(novalidate=true, name="uvpForm", ng-hide="ctrl.showUVP")
  .row
    .small-10.columns.right
      input(type="text", placeholder="Word 1", ng-model="ctrl.method.word1", required=true)
  .row
    .small-10.columns.right
      input(type="text", placeholder="word 2", ng-model="ctrl.method.word2", required=true)
  .row
    .small-2.columns
      label.right.inline(for="word3") and
    .small-10.columns
      input#word3(type="text", placeholder="word 3", ng-model="ctrl.method.word3", required=true)
  .row
    .small-10.columns.right
      input(type="text", placeholder="product/service name", ng-model="ctrl.method.product", required=true)
  .row
    a._tooltip(title="{{ctrl.method.example}}")
      span(title="") Example
    br
    button.button(ng-disabled="!uvpForm.$valid", ng-click="ctrl.display()") Build
.row(ng-show="ctrl.showUVP")
  h1 {{ctrl.method.template()}}
  br
  uvp-facebook-share-button
  br
  i.fa.fa-chevron-left.fa-2x(ng-click="ctrl.back()")
    .icon-subtitle Back
  = ' '
  i.fa.fa-chevron-right.fa-2x(ui-sref="JustWriteIt")
    .icon-subtitle Next
.footer #14 3 words
