.form
  .background--image
    img(src="../../assets/images/home_background.png")
  .outer
    .middle.text-center
      .inner
        form(novalidate=true, name="uvpForm", ng-hide="ctrl.showUVP")
          .row
            .small-12.columns
              input(type="text", placeholder="Highlight the enormity of the problem you are tackling", ng-model="ctrl.method.problem", required=true)
          .row
            .small-12.columns
              input(type="text", placeholder="Tell the audience up front what your company sells", ng-model="ctrl.method.product", required=true)
          .row
            .small-12.columns
              input(type="text", placeholder="Distill the differentiation down to one, easy-to-comprehend sentence", ng-model="ctrl.method.differentiation", required=true)
          .row
            .small-12.columns
              textarea(placeholder="Establish credibility by sharing the pedigree of the entrepreneurs, customers, or the investors", ng-model="ctrl.method.pedigree", required=true)
          .row
            span.has-tip(data-tooltip, aria-haspopup=true, title= "Every day journalists spends hours finding which information people needs to know about Public Figures. We offer a publisher network to collect millions of questions and give to the journalist the popular ones with the best question recognition technology") Example
            br
            button.button(ui-sref="steve-blanks") Previous
            button.button(ng-disabled="!uvpForm.$valid", ng-click="ctrl.display()") Go
            button.button(ui-sref="elevator-pitch") Next
        .row(ng-show="ctrl.showUVP")
          h1 {{ctrl.method.template()}}
          button.button(ng-click="ctrl.back()") Back
          button.button(ui-sref="elevator-pitch") Next
.footer #3 David Cowan's Pitchcraft
