.form
  .background--image
    img(src="../../assets/images/home_background.png")
  .outer
    .middle.text-center
      .inner
        form(novalidate=true, name="uvpForm", ng-hide="ctrl.showUVP")
          .row
            .small-12.columns
              input(type="text", placeholder="Describe the current situation", ng-model="ctrl.method.situation", required=true)
          .row
            .small-12.columns
              input(type="text", placeholder="Describe the issue in the situation", ng-model="ctrl.method.issue", required=true)
          .row
            .small-12.columns
              input(type="text", placeholder="Describe the question in response to the issue", ng-model="ctrl.method.question", required=true)
          .row
            .small-12.columns
              input(type="text", placeholder="Suggest answer to ease out or mitigate the issue", ng-model="ctrl.method.answer", required=true)
          .row
            button.button(ui-sref="elevator-pitch")  Previous
            button.button(ng-disabled="!uvpForm.$valid", ng-click="ctrl.display()") Go
        .row(ng-show="ctrl.showUVP")
          h1 {{ctrl.method.template()}}
          button.button(ng-click="ctrl.back()")  Back
.footer #5 The Minto Pyramid Principle aka SCQA
