form(novalidate=true, name="uvpForm", ng-hide="ctrl.showUVP")
  .row
    .small-2.columns
      label.right.inline(for="customer") {{ 'elevatorPitch.for' | i18n }}
    .small-10.columns
      input#customer(type="text", placeholder="{{ 'elevatorPitch.placeholder1' | i18n }}", ng-model="ctrl.method.customer", required=true)
  .row
    .small-2.columns
      label.right.inline(for="need") {{ 'elevatorPitch.who' | i18n }}
    .small-10.columns
      input#need(type="text", placeholder="{{ 'elevatorPitch.placeholder2' | i18n }}", ng-model="ctrl.method.need", required=true)
  .row
    .small-10.columns.right
      input#product(type="text", placeholder="{{ 'elevatorPitch.placeholder3' | i18n }}", ng-model="ctrl.method.product", required=true)
  .row
    .small-2.columns
      label.right.inline(for="benefit") {{ 'elevatorPitch.that' | i18n }}
    .small-10.columns
      input#benefit(type="text", placeholder="{{ 'elevatorPitch.placeholder4' | i18n }}", ng-model="ctrl.method.benefit", required=true)
  .row
    .small-2.columns
      label.right.inline(for="competition") {{ 'elevatorPitch.unlike' | i18n }}
    .small-10.columns
      input#competition(type="text", placeholder="{{ 'elevatorPitch.placeholder5' | i18n }}", ng-model="ctrl.method.competition", required=true)
  .row
    .small-10.columns.right
      input(type="text", placeholder="{{ 'elevatorPitch.placeholder6' | i18n }}", ng-model="ctrl.method.differentiator", required=true)
  .row
    a._tooltip(title="{{ctrl.method.example}}")
      span(title="") {{ 'common.example' | i18n }}
    br
    button.button(ng-disabled="!uvpForm.$valid", ng-click="ctrl.display()") {{ 'common.build' | i18n }}
.row(ng-show="ctrl.showUVP")
  h1 {{ ctrl.method.template() }}
  br
  i.fa.fa-chevron-left.fa-2x(ng-click="ctrl.back()")
    .icon-subtitle {{ 'common.back' | i18n }}
  = ' '
  i.fa.fa-chevron-right.fa-2x(ui-sref="ZagFormat")
    .icon-subtitle {{ 'common.next' | i18n }}
.footer #12 The elevator pitch format
