form(novalidate=true, name="uvpForm", ng-hide="ctrl.showUVP")
  .row
    .small-12.columns
      input(type="text", placeholder="Describe the current situation", ng-model="ctrl.method.situation", required=true)
  .row
    .small-12.columns
      input(type="text", placeholder="Describe the issue in the situation", ng-model="ctrl.method.issue", required=true)
  .row
    .small-12.columns
      input(type="text", placeholder="Describe the question in response to the issue", ng-model="ctrl.method.question", required=true)
  .row
    .small-12.columns
      input(type="text", placeholder="Suggest answer to ease out or mitigate the issue", ng-model="ctrl.method.answer", required=true)
  .row
    a._tooltip(title="{{ctrl.method.example}}") Example
    br
    button.button(ng-disabled="!uvpForm.$valid", ng-click="ctrl.display()") Watch
.row(ng-show="ctrl.showUVP")
  h1 {{ctrl.method.template()}}
  button.button(ng-click="ctrl.back()") Back
  .row
    i.fa.fa-arrow-right.fa-3x(ui-sref="ElevatorPitch")
      .icon-subtitle Next
.footer #11 The Minto Pyramid Principle aka SCQA
