.form
  .background--image
    img(ng-hide="ctrl.userBackgroundImage", ng-src="{{ctrl.backgroundImage}}")
    img.background-dark(ng-show="ctrl.userBackgroundImage", flow-img="ctrl.userBackgroundImage")

  .outer
    .middle.text-center
      .inner
        form(novalidate=true, name="uvpForm", ng-hide="ctrl.showUVP")
          button.button(flow-btn, flow-attrs="{accept:'image/*'}") Change background
          .row
            .small-10.columns.right
              input(type="text", placeholder="Product/service name", ng-model="ctrl.method.product", required=true)
          .row
            .small-2.columns
              label.right.inline(for="firstAdj") is
            .small-10.columns
              input#firstAdj(type="text", placeholder="first adjective", ng-model="ctrl.method.firstAdjective", required=true)
          .row
            .small-2.columns
              label.right.inline(for="secondAdj") and
            .small-10.columns
              input#secondAdj(type="text", placeholder="second adjective", ng-model="ctrl.method.secondAdjective", required=true)
          .row
            .small-2.columns
              label.right.inline(for="attribute") to
            .small-10.columns
              input#attribute(type="text", placeholder="best attribute", ng-model="ctrl.method.attribute", required=true)
          .row
            a._tooltip(title="{{ctrl.method.example}}") Example
            br
            button.button(ui-sref="TheQuestion") Previous
            button.button(ng-disabled="!uvpForm.$valid", ng-click="ctrl.display()") Go
            button.button(ui-sref="VentureHacks") Next
        .row(ng-show="ctrl.showUVP")
          h1 {{ctrl.method.template()}}
          button.button(ng-click="ctrl.back()") Back
          button.button(ui-sref="VentureHacks") Next
.footer #5 Dave McClure's Elevator Ride
