form(novalidate=true, name="uvpForm", ng-hide="ctrl.showUVP")
  .row
    .small-10.columns.right
      input(type="text", placeholder="{{ 'daveMcClures.placeholder1' | i18n }}", ng-model="ctrl.method.product", required=true)
  .row
    .small-2.columns
      label.right.inline(for="firstAdj") {{ 'daveMcClures.is' | i18n }}
    .small-10.columns
      input#firstAdj(type="text", placeholder="{{ 'daveMcClures.placeholder2' | i18n }}", ng-model="ctrl.method.firstAdjective", required=true)
  .row
    .small-2.columns
      label.right.inline(for="secondAdj") {{ 'daveMcClures.and' | i18n }}
    .small-10.columns
      input#secondAdj(type="text", placeholder="{{ 'daveMcClures.placeholder3' | i18n }}", ng-model="ctrl.method.secondAdjective", required=true)
  .row
    .small-2.columns
      label.right.inline(for="attribute") {{ 'daveMcClures.to' | i18n }}
    .small-10.columns
      input#attribute(type="text", placeholder="{{ 'daveMcClures.placeholder4' | i18n }}", ng-model="ctrl.method.attribute", required=true)
  .row
    a._tooltip(title="{{ctrl.method.example}}")
      span(title="") {{ 'common.example' | i18n }}
    br
    button.button(ng-disabled="!uvpForm.$valid", ng-click="ctrl.display()") {{ 'common.build' | i18n }}
.row(ng-show="ctrl.showUVP")
  h1 {{ctrl.method.template()}}
  br
  uvp-facebook-share-button
  br
  i.fa.fa-chevron-left.fa-2x(ng-click="ctrl.back()")
    .icon-subtitle {{ 'common.back' | i18n }}
  = ' '
  i.fa.fa-chevron-right.fa-2x(ui-sref="DavidCowans")
    .icon-subtitle {{ 'common.next' | i18n }}
.footer #5 Dave McClure's Elevator Ride
